.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width:600px) {
  .search {
    flex-direction: column;
    gap: 2rem;

    .input {
      width: 100%;
    }

    .filter {
      width: fit-content;
      align-self: flex-start;
      min-width: 10rem;
    }
  }
}